<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width scalable:no">
    <meta name="author" content="Samuel Estrella">
    <meta name="description" content="Resumen Curricular">
    <meta name="keywords" content="estrella, samuel, curriculum, educacion, Politecnico, Rep.Dom,">
    <title>Experiencia - Samuel Estrella</title>
  </head>
  <body>
      <header>
        <img src="../img/logo_estrella.svg" alt="logo_estrella" title="logo_estrella">
        <h1>Resumen Curricular</h1>
      </header>
        <section>
          <h2>Datos Personales</h2>
          <h3>Nombre: Samuel</h3>
          <h3>Apellidos: Estrella Castanos</h3>
          <h3>Fecha de Nacimiento: 06 de Enero del 1985</h3>
        </section>
        <nav>
          <a href="../index.html">Inicio</a> | <a href="../view/educacion.html">Educación</a> | <a href="#">Experiencia</a>
        </nav>
        <h2>Experiencia</h2>
        <section>
          <p><strong><em>Habilidades e intereses profesionales</em></strong></p>
          <video src="videofile.ogg" controls poster="posterimage.jpg" preload="auto">
          </video></br>
          <p><strong><em>Hobbies y actividades recreacionales que realizo en el tiempo libre</em></strong></p>
          <audio src="../audios/pasatiempos.mp3" controls preload="auto" title="pasatiempos samuel estrella">
          </audio>
        </section>
        <footer>Contactos: <a href="mailto:sammye70@gmail.com">sammye70@gmail.com</a> | <a href="https://www.facebook.com/samuel.estrella.54">Facebook</a>
          | <a></a>Teléfono: 8295666967 | Direccion: C/Paco Savinon 5, Fantino,Prov.Sanchez Ramirez,RD</footer>
  </body>
</html>
